a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Quicksand', sans-serif;
}
.productImg {
    width: 15em;
    height: 15em;
}

.productsCombined{
    margin-top: 5em;
    margin-left: 2em;
    user-select: none;
}

.product {
    user-select: none;
    float: left;
    border: 2px snow solid;
    border-radius: 5em;
    background-color:#F5F5F5;
    width: 30%;
    height: 50%;
    padding-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.product:hover{
    border: 2px black solid;
}

.username{
    position: absolute;
    right: 5%;
}

h5 {
    text-align: left;
    margin-left: 1em;
}

h4 {
    text-align: center;
}

.input1 {
    position: relative;
    bottom: 3em;
    left: 5em;
    width: 3em;
}

.smallimg {
    width: 5em;
    height: 5em;
}

.table1{
    margin-left: 15%;
    width: 70%;
}

.logo {
    font-family: 'ZCOOL KuaiLe', cursive;
    position: absolute;
    left: 5vw;
}

.payButton {
    width: 20vw;
    height: 20vh;
    font-size:3vw;
    text-align: center;
    margin-left: 40%;
}

.accountDiv {
    margin-top: 10%;
    text-align: center;
}

.biglogo {
    font-size: 5vw;
    position: absolute;
    top: 20%;
    left: 18%;
    width: 40%;

}

.mediumlogo {
    position: fixed;
    top: 2%;
    left: 50%;
    width: 40%;
    font-size: 6vh;
}

.loginbox {
    position: absolute;
    top: 40%;
    left: 40%;
}

.logininput {
    width: 15vw;
    height: 5vh;
    margin: 0.5em;
}