a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}

.productImg {
    width: 15em;
    height: 15em;
}

.productsCombined{
    margin-top: 5em;
    margin-left: 2em;
}

.product {
    float: left;
    border: 2px antiquewhite solid;
    border-radius: 5em;
    background-color:Cornsilk;
    width: 25em;
    height: 30em;
    padding-top: 1em;
    margin-right: 1em;
    text-align: center;
}

.username{
    position: absolute;
    right: 5%;
}

h5 {
    text-align: left;
    margin-left: 1em;
}

.input1 {
    position: relative;
    bottom: 3em;
    left: 5em;
    width: 3em;
}